.column {
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.header {
  text-align: center;
  border-bottom: 2px solid var(--border-color);
  margin-bottom: 10px;
  padding-bottom: 100px;
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
}

.courseList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
