.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg-color);
}

.loginBox {
  background: var(--card-bg);
  color: var(--text-color);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginBox h2 {
  text-align: center;
  margin-bottom: 10px;
}

.loginBox input {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background: var(--bg-color);
  color: var(--text-color);
}

.loginBox button:hover {
  background: #01904e;
}

.error {
  color: #ff5555;
  font-size: 0.9rem;
  text-align: center;
}
